


<div class="LoginDiv divHeight  justify-content-md-center  m-xl-5 m-lg-5 m-md-5 " style="margin: 55px 0px 0px 0px;   display: flex;
  flex-wrap: wrap;
 ">




  <div class=" Resize divHeight col-xxl col-xl-4 col-lg-5 col-md-6 col-sm-12 col-xs-12
" style=" padding-left: 0px;
  padding-right:0px; ">
    <form class="shadow-lg form-group bg-white topRounded" style="width:100%; margin-bottom:0px;">

    <div >
    <h2 style="float:right; width:100%;text-align:center" >Iniciar Sesión y Ponerse a Trabajar
    </h2>
      <div class=" inputResponsive input-group mb-3">
        <span class="iconSpan input-group-addon" ><i class="  fa fa-user"  style="color:blue"></i></span>

        <input type="email" class="  inputItem inputstyle form-control" id="username" placeholder="Ingrese Correo Electrónico" required>

      </div >
      <div class=" inputResponsive input-group mb-3">
        <span class="iconSpan input-group-addon" ><i class="  fa fa-key" style="color:blue" ></i></span>
    <input type="password" class="  inputItem inputstyle form-control" id="password" placeholder="Introducir la Contraseña" required>
      </div>
    <button type="submit" class="btn btn-primary btn-responsive" style="margin-top: 25px; background-color: #374785">Login</button>
  </div>
    </form>
    <div class="shadow-sm   bottomRounded " style="background-color:red; height: 100%; padding-bottom:45px;">
      <span style="float:right; width:100%;text-align:center; padding-bottom:15px;" >Want to Join?</span>
      <button class="btn btn-primary btn-responsive" style=" background-color: #FFFFFF; position: relative; ">Register</button>

    </div>
  </div>

</div>
